.Registration {
    /* display: none; */
    background:rgba(40, 41, 40, 0.7);
    position: fixed;
    top: 2.5%;
    left: 2%;
    height: 95vh;
    width: 95vw;
    z-index: 3;
}

.Close {
    position: relative;
    top: 1rem;
    left: 97%;
    width: 2rem;
    height: 2rem;
    background-color: white;
}

.Cross1 {
    position: absolute;
    left: 44%;
    background-color: rgba(40, 41, 40, 0.7);
    transform: rotate(45deg);
    width: 10%;
    height: 110%;
}

.Cross2 {
    position: absolute;
    left: 44%;
    background-color: rgba(40, 41, 40, 0.7);
    transform: rotate(135deg);
    width: 10%;
    height: 110%;
}

.LogReg{
    display: flex;
    justify-content: space-around;
}

.Login, .Reg {
    font-size: 1.5rem;
    text-align: center;
    width: 30rem;
    height: 40rem;
    background-color: white;
    border-radius: 4%;
    border: 3px solid rgb(75, 71, 71);
}

.Login input, .Reg input{
    text-align: center;
    margin: 2rem;
}

.Registration button{
    position: relative;
    background: none;
    padding: 1rem 2rem;
    border: 1px solid black;
}
.Registration button:hover{
  cursor: pointer;
}

